<div class="hero-img">
    <div class="hero-text">
        <h1 class="hero-title">Welcome to {{title}}</h1>
        <p>High Quality Handcrafted Surf Gear.  We ship anywhere in the world.</p>
        <a class="btn btn-primary bg-gradient btn-lg" role="button" href="/products">Browse Inventory</a>
    </div>
</div>